* {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/********** App Container **********/

.App {
  /* outline: 1px blue solid; */
  float: left;
  padding: 0 20% 0 20%;
  height: 100%;
  background-color: #def9ff;
}

@media (max-width: 768px) {
  .App {
    padding: 0;
  }
}


/********** Whisperer **********/

.Whisperer ul {
  margin-top: 35px;
  position: absolute;
}

.Whisperer li {
  display: block;
  position: relative;
  z-index: 1;
  left: -25px;
  top: 2px;
  cursor: pointer;
  height: 40px;
  width: 200px;
  list-style-type: none;
  background-color: #fff;
  
  border-right: solid 1px #bbb;
  border-left: solid 1px #bbb;
  border-top: solid 1px #bbb;
  font-size: 17px;
  padding: 10px 10px 0 10px;
}

.Whisperer li:last-child {
  border-right: solid 1px #bbb;
  border-left: solid 1px #bbb;
  border-bottom: solid 1px #bbb;
}

.Whisperer li:hover {
  background-color: #eee;
}


/********** Search Bar **********/

.SearchBar {
  float: left;
  width: 90%;
  padding: 20px 5% 30px 5%;
  border-bottom: solid 1px #bbb;
}

.SearchBar input {
  width: 98%;
  height: 30px;
  padding-left: 7px;
  float: left;
  font-size: large;
}


/********** Forecast **********/

.Forecast {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  /* outline: 1px red solid; */
}

.Forecast-header {
  float: left;
  width: 93%;
  padding: 15px 0 15px 7%;
}

.Forecast-info {
  float: left;
  width: 93%;
  padding: 0 0 15px 7%;
}

.Forecast .WeatherChart {
  float: left;
  width: 100%;
}

.Forecast .WeatherChart h3 {
  float: left;
  padding: 10px 10px 10px 7%;
}


/********** Main Page **********/

.MainPage {
  float: left;
  display: block;
  width: 100%;
  min-width: 630px;
  min-height: 900px;
  background-color: #fff;
  outline: 1px #bbb solid;
}

@media (max-width: 768px) {
  .MainPage {
    min-height: 200px;
  }
}

.MainPage-header {
  float: left;
  width: 100%;
  background-color: #fff6de;
}

.MainPage header h1 {
  float: left;
  padding: 15px 10px 0 5px;
}

.MainPage-header img {
  float: left;
  margin: 10px 10px 0 5%;
}

/********** Footer **********/

.Footer {
  float: left;
  display: block;
  width: 100%;
  height: 120px;
  /* outline: 1px brown solid; */
}

.Footer p {
  text-align: center;
  padding-top: 50px;
}

.Footer a {
  text-decoration: none;
}

.Footer a:visited {
  color: #000;
}