* {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/********** App Container **********/

.App {
  /* outline: 1px blue solid; */
  float: left;
  padding: 0 20% 0 20%;
  height: 100%;
  background-color: #def9ff;
}

/********** Whisperer **********/

.Whisperer ul {
  position: absolute;
}

.Whisperer li {
  display: block;
  position: relative;
  z-index: 1;
  left: 20px;
  top: 45px;
  cursor: pointer;
  height: 40px;
  width: 200px;
  list-style-type: none;
  background-color: #fff;
  
  border-right: solid 1px #bbb;
  border-left: solid 1px #bbb;
  border-top: solid 1px #bbb;
  font-size: 17px;
  padding: 10px 10px 0 10px;
}

.Whisperer li:last-child {
  
  border-right: solid 1px #bbb;
  border-left: solid 1px #bbb;
  border-bottom: solid 1px #bbb;
}

.Whisperer li:hover {
  background-color: #eee;
}


/********** Search Bar **********/

.SearchBar {
  padding: 20px 0 30px 0;
  float: left;
  width: 100%;
  border-bottom: solid 1px #bbb;
}

.SearchBar input {
  width: 70%;
  height: 30px;
  float: left;
  font-size: large;
  margin-left: 15%;

}


/********** Forecast **********/

.Forecast {
  float: left;
  width: 100%;
  /* outline: 1px red solid; */
}

.Forecast-header {
  float: left;
  width: 93%;
  padding: 15px 0 15px 7%;
}

.Forecast .WeatherChart {
  float: left;
  width: 100%;
}

/********** Main Page **********/

.MainPage {
  float: left;
  display: block;
  width: 100%;
  min-height: 900px;
  background-color: #fff;
  outline: 1px #bbb solid;
}

.MainPage-header {
  float: left;
  width: 100%;
  background-color: #fff6de;
}

.MainPage header h1 {
  float: left;
  padding: 10px 5px 0 5%;
}

/********** Footer **********/

.Footer {
  float: left;
  display: block;
  width: 100%;
  height: 120px;
  /* outline: 1px brown solid; */
}

.Footer p {
  text-align: center;
  padding-top: 50px;
}

.Footer a {
  text-decoration: none;
}

.Footer a:visited {
  color: #000;
}